<p id="notice"><%= notice %></p>

<h1>
  <%= @photo.description %>
</h1>

<%= link_to '<< Back', photos_path %>

<% if signed_in? %>
  | <%= link_to 'Edit', edit_photo_path(@photo) %> |
  <%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %>

<p>
  <%= image_tag @photo.photo_url if @photo.photo? %>
</p>

<% if signed_in? %>
  <h2 style="text-align: left;">Comments:</h2>
  <% @comments.each do |comment| %>
    <div>
      <b><%= comment.name %></b> said (<%= time_ago_in_words(comment.created_at) %> ago):
      <%= link_to 'Edit', edit_photo_comment_path(@photo, comment) %> | 
      <%= link_to 'Destroy', [@photo, comment], 
        method: :delete, data: { confirm: 'Are you sure?' } %>
      <div class="lead"><%= comment.comment %></div>
      <div>
      </div>
    </div>
    <hr />
  <% end %>
  <p>
  <%= link_to 'New Comment', new_photo_comment_path(@photo) %>
  </p>
<% end %>
